<footer>
        <div class="footer-content">
            <div class="left-section">
                <h3>Join the Sketchify Community</h3>
                <p>We are more than just a store. We are a community of creators, dreamers, and the inner yourself. Follow us on social media, share your work, and explore new ideas together!</p>
                <a href="https://www.facebook.com/sketchify.244664">Facebook</a>
                <br>
                <a href="https://www.instagram.com/sketchify.244664">Instagram</a>
                <p style="margin-top: 20px;">© 2024 Sketchify. All rights reserved.</p>
            </div>

            <div class="right-section">
                <h3>Privacy Policy</h3>
                <p>We collect your name, email, phone number, shipping address, and payment information to process your orders. We also use cookies to enhance the user experience.</p>
                <p>Your information will be used for: Order processing, Providing customer support, Promotional communications.</p>
                <p>We use cookies to save your preferences and enhance website functionality.</p>
            </div>
        </div>
    </footer>    
