<nav class="navbar fixed-top">
  <a href="/" class="brand-logo">
    <img src="../static/Sketchify.png" alt="SKETCHIFY" height="120" />
  </a>
  <div class="d-flex align-items-center">
    <div class="search-container me-3">
      <input type="text" class="search-box" placeholder="Type a product name" />
      <button class="search-btn">Search</button>
    </div>

    {%if session.get('user')%}
    <span class="me-3">{{ session['user']['username'] }}</span>
    <a
      href="/user-dashboard"
      class="me-3"
      style="color: #3c7a89; text-decoration: none"
      >Profile</a
    >
    <a href="{{url_for('user_route.logout')}}" class="button-55" role="button"
      >Logout</a
    >
    {%else%}

    <a href="{{ url_for('user_route.login') }}" class="button-55" role="button"
      >Login</a
    >
    {%endif%}

    <a href="" class="position-relative me-3">
        <span class="position-absolute top-50 start-100 translate-middle badge rounded-pill bg-danger">
            {{ session.get('cart')|length if session.get('cart') else 0 }}
        </span>
        <img src="{{ url_for('static', filename='cart.svg') }}" alt="Cart" class="cart-icon" width="75" height="75">
    </a>
    
      
  </div>
</nav>
