<nav style="background-color: #60d0df; width: 100%;" class="text-center py-3">
  <a
    href="{{url_for('categories.category', category_name='new-in')}}"
    class="text-decoration-none text-dark fs-5 px-3 py-2 rounded hover-effect"
    >new in</a
  >
  <a
    href="{{url_for('categories.category', category_name='gift-items')}}"
    class="text-decoration-none text-dark fs-5 px-3 py-2 rounded hover-effect"
    >gift items</a
  >
  <a
    href="{{url_for('categories.category', category_name='stationaries')}}"
    class="text-decoration-none text-dark fs-5 px-3 py-2 rounded hover-effect"
    >stationaries</a
  >
  <a
    href="{{url_for('categories.category', category_name='art-supplies')}}"
    class="text-decoration-none text-dark fs-5 px-3 py-2 rounded hover-effect"
    >art supplies</a
  >
  <a
    href="{{url_for('categories.category', category_name='desk-organizers')}}"
    class="text-decoration-none text-dark fs-5 px-3 py-2 rounded hover-effect"
    >desk organizer</a
  >
</nav>
